<body>
<form>
<h1> Flight Search</h1>
<div>
<label for="flights">Enter City You Are Departing From:</label> <br>
<input type="text" id="flights" name="flights"  > <br>
<br>


<input type="button" id="search" name="search" value="Search" >
<br>
<br>

<form>
    <div>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" style="width: 300px; height: 100px;" [(ngModel)]="newReq.description"><br>


    


    </div>
</form>
</div>
</form>
</body>

