<body>
<form>
<h1> Flight Search</h1>
<div>
<label for="depart">Enter City You Are Departing From:</label> <br>
<input type="text" id="depart" name="depart" [(ngModel)]="depart" > <br>
<br>
  <label for="arrival">Enter City You Are Arriving To:</label> <br>
  <input type="text" id="arrival" name="arrival" [(ngModel)]="arrival" >
  <br>
  <br>

<input type="button" id="search" name="search" value="Search" (click)="onSubmit()">
<br>
<br>

<form>
    <div *ngIf="enteredData">
        <label for="description">Description:</label><br>
        <table type="text" id="description" name="description" style="width: 600px; height: 100px;"><br>
          <tr>
            <th>Departing City</th>
            <th>Arrival City</th>
            <th>Date</th>
            <th>Flight Number</th>
          </tr>
          <tr *ngFor="let flight of currentFlights">
            <td>{{flight.departure.city}}</td>
            <td>{{flight.arrival.city}}</td>
            <td>{{flight.date | date: 'short'}}</td>
            <td>{{flight.flightNo}}</td>
          </tr>


        </table>

    </div>
</form>
</div>
</form>
</body>

