<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Search</title>
</head>





<body>


    
<form>

<h1> Flight Search</h1>

<div>


<label for="flights">Enter City You Are Departing From:</label> <br> 
<input type="text" id="flights" name="flights"  > <br>  

<br>


<label for="arrivals">Enter City Destination:</label> <br> 
<input type="text" id="arrivals" name="arrivals"  > <br> 


<input type="button" id="search" name="search" value="Search" >

<br>
<br>




<form>
    <div>

        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" style="width: 300px; height: 100px;" ><br>


    


    </div>
</form>



<label for="plans">Enter Your Flight Number:</label> <br>
<input type="number" id="flightNumber" name="flightNumber" > <br>
<br>

<input type="button" id="details" name="details" value="Details" >




</div>

















</form>    






    
</body>
</html>
